.text {
	display: inline-block;
	width: 43%;
	margin-left: 90px;
	line-height: 1.35;
	opacity: 0.97; 	
	font-family: 'Open Sans', sans-serif;
	margin-top:70px;
}
.content {

	 margin-left: 240px;
	 width: calc(100% - 240px);
	 height: 100%;
}

.centerer {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.portrait img{
	height: auto;
	width: 70%;
	margin-left: 50px;
	display: inline-block;
	vertical-align: middle;
}
.portrait {
	float: right;
	height: 100%;
	width: 47%;
}