.text {
	display: inline-block;
	width: 43%;
	margin-left: 90px;
	line-height: 1.35;
	opacity: 0.97;
	font-family: 'Open Sans', sans-serif;
	margin-top:70px;
}
.content {

	 margin-left: 240px;
	 width: calc(100% - 240px);
	 height: 100%;
}

.centerer {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.portrait img{
	height: auto;
	width: 70%;
	max-width: 100%;
	margin-left: 50px;
	display: inline-block;
	vertical-align: middle;
}
.portrait {
	float: right;
	height: 100%;
	width: 47%;
}
@media screen and (max-width: 680px) {
	body {
		/*background: red;*/
	}
	.content {
		margin-left: 0;
		width: 100%;
		height: calc(100% - 45px);
	}
	.text {
		margin: 2em 1em;
		width: 90%;
	}

}
