.li_nav {
  font-size: 1.5em;
  list-style: none;
  display: inline-block;
  padding: 0 40px 0 40px;
}
.div_nav {
  display: table-cell;
  vertical-align: middle;
}
.right {
  text-align: right;
  padding-right: 200px;
}
.left {
  text-align: left;
  padding-left: 200px;
}
.nav {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #6d6d6d45;
  display: table;
  height: 55px;
  width: 100%;
  z-index: 100;
}
body,html {
  height: 100%;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}

.background {
  /* The image used */
  background-image: url("../../img/DSC_0036.jpg");
  filter: blur(4px);
  border-radius: none;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 101;
}
.logo img {
  height: 14em;
}
