html,body {
  height: 100%;
}
.logo {
text-align: center;
margin-top: 60px;
}
.logo img {
  height: 8em;
}
.nav {
margin-top: 50px;
}
.li_nav {
  list-style: none;
  font-size: 1.5em;
  margin-left: 64px;
  margin-top: 20px;
}

.container {
  width: calc(100% - 240px);
  position: fixed;
  display: table;
  left: 240px;
  height: 100%;
}
.showing_off {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 50px;
  max-width: 100%;
}
.showing_off img {
  max-width: 75%;
  height: auto;
}
.menu {
  position: fixed;
  width: 240px;
  height: 100%;
  background: #ffffff;
  font-family: "Simplifica", Fallback, sans-serif !important;
  font-size: 11pt !important;
}
html, body {
  height: 100%;
  margin: 0;
  letter-spacing: 0.025em;
  line-height: 1.25 !important;
  font-size: 11pt !important;
}
.menu a, .contacto a {
  color: black;
  text-decoration: none;
}
.contacto {
    font-family: "Simplifica", Fallback, sans-serif !important;
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
   -moz-column-count: 4; /* Firefox */
   column-count: 4;
   position: fixed;
   bottom:30px;
   left: 35px;
}
.contact_li {
  background-repeat: no-repeat !important;
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  margin: 0 5px 20px 5px;
}
.instagram {
	background: url("../svg/instagram.svg");
}
.behance {
	background: url("../svg/behance.svg");
}
.facebook {
	background: url("../svg/facebook.svg");
}
.linkedin {
      background:  url("../svg/linkedin.svg")
}
@font-face {
  font-family: 'Simplifica';
  src: url('SIMPLIFICA.ttf') format('truetype');
}
  @media screen and (max-width: 480px) {

    html, body {
      min-width: 320px;
    }
    @media screen and (max-width: 1680px) {

      body, input, select, textarea {
        font-size: 11pt;
      }
