html, body {
  height: 100%;
  margin: 0;
  line-height: 1.25 !important;
  font-size: 11pt !important;
  font-family: "Simplifica", Fallback, sans-serif;
  min-width: 289px;
  width: 100%;
  letter-spacing: 0.1em;
}

.menu {
  font-family: "Simplifica", Fallback, sans-serif !important;
  display: table;
  position: fixed;
  width: 240px;
  height: 100%;
  background: #ffffff;  font-size: 11pt !important;
}

.menu a, .contacto a {
  color: black;
  text-decoration: none;
}
.logo {
text-align: center;
margin-top: 60px;
}
.logo img {
  height: 8em;
}
.mobile_logo {
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.mobile_logo img {
  width: 32px;
  height: auto;
}
.mobile_nav {
  width: 100%;
  display: none;
  position: relative;
  top:0;
  left: 0;
  font-family: "Simplifica", Fallback, sans-serif !important;
  margin: 0;
}
.mobile_title {
   display: inline-block;
   vertical-align: middle;
   margin:0 5px;
}
.mobile_title h2 {
  margin: 10px auto;
  letter-spacing: 0.15em;
}

.mobile_menu {
  text-align: center;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  opacity: 0;
  background: white;
  z-index: 999;
}
.options {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.mobile_li {
  list-style: none;
  margin-top: 20px;
  background: white;
}
.mobile_li a {
  color: black;
  text-decoration: none;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  border-radius:10px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.08s 0s ease-out;
}


.change .bar1 {
  -webkit-transform:translateY(8px);
  transform:translateY(8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.toggler {
  opacity: 1;
  height: auto;

}
.nav {
margin-top: 50px;
}
.li_nav {
  list-style: none;
  font-size: 1.5em;
  margin-left: 64px;
  margin-top: 20px;
  letter-spacing: 0.1em;
}

.contacto {
   position: absolute;
   bottom: 35px;
   left: 50%;
   margin-left: -64px;
}
.contact_li {
  background-repeat: no-repeat !important;
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  margin:0 5px 20px 5px;
}
.instagram {
	background: url("../svg/instagram.svg");
}
.behance {
	background: url("../svg/behance.svg");
}
.facebook {
	background: url("../svg/facebook.svg");
}
.linkedin {
      background:  url("../svg/linkedin.svg")
}
.container {
  width: calc(100% - 240px);
  position: fixed;
  display: table;
  left: 240px;
  height: 100%;
}
.showing_off {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 50px;
  max-width: 100%;
}
.showing_off img {
  max-width: 75%;
  height: auto;
}

@font-face {
  font-family: 'Simplifica';
  src: url('SIMPLIFICA.ttf') format('truetype');
}
@media screen and (max-width: 1000px) {
  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mobile_nav {
    display: block;
  }
  .showing_off {
    padding: 5px;
  }
  .container {
    left:0;
    position: inherit;
    width: 100%;
    height: calc(100% - 45px);
  }
  .showing_off {
    margin: 0;
    width: 100%;
    height: 100%;
    margin-top: -45px;
  }
  .showing_off img {
    width: 100%;
    max-width: 100%;
  }
}
