
.photos {
  position: absolute;
  top: 55px;
  margin-left: 5%;
  max-width: 90%;
  column-count: 5;
  column-width: 20em;
  column-gap: 1.5em;
  text-align: center;
  padding-top: 5%;
}
.photo {
  margin-bottom: 2.5em;
}
.photo img {
  width: 20em;
}
.intro {
  position: absolute;
  top: 55px;
  left: 0;
  padding: 40px 0;
  height: 80%;
  width: 100%;
  background-color: purple;
}
.image_intro {
  background-color: grey;
  width: 45%;
  height: 100%;
  display: inline-block;
  float: left;
  margin-left: 5%;
}
.text_intro {
  background-color: grey;
  width: 40%;
  height: 100%;
  display:inline-block;
  float: right;
  margin-right:5%;
}
