
.photos {
  position: absolute;
  top: 55px;
  margin-left: 5%;
  max-width: 90%;
  column-count: 5;
  column-width: 20em;
  column-gap: 1.5em;
  text-align: center;
  padding-top: 5%;
}
.photo {
  margin-bottom: 2.5em;
}
.photo img {
  width: 20em;
}
